<% if task.errors.present? %>
  <ul id="error_explanation">
    <% task.errors.full_messages.each do |message| %>
      <li><%= ::Temple::Utils.escape_html_safe((message)) %> </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @task, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control', id: 'task_name' %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_area :description, rows: 5, class: 'form-control', id: 'task_description' %>
  </div>

  <div class="form-group">
    <%= f.label :deadline, class: 'control-label' %>
    <%=f.date_field :deadline, class: 'form-control', id: 'task_deadline' %>
  </div>

  <%= f.submit nil, class: 'btn btn-primary' %>

<% end %>
