<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= Task.human_attribute_name(:name) %></th>
      <th scope="col"><%= Task.human_attribute_name(:deadline) %></th>
      <th scope="col"><%= Task.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |task|  %>
      <tr id=<%= "task_#{task.id}" %> class='task_list'>
        <td><%= link_to task.name, task_path(task) %></td>
        <td><%= task.deadline %></td>
        <td><%= task.created_at %></td>
        <td>
          <%= link_to '編集', edit_task_path(task), class: 'btn btn-primary mr-3' %>
          <%= link_to '削除', task, method: :delete, data: {confirm: "タスク「#{task.name}」を削除しますか？"},  class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
