<h1>タスク一覧</h1>

<%= search_form_for @q, url: search_tasks_path do |f| %>
  <%= f.label :name %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<%= render 'index_tasks', tasks: @tasks %>
<% end %>
